.search{
   display: flex;
   position: absolute;
   right: 0;
   margin: 10px;
  }
  #navs a{
      color: #fff;
      font-size: 1.6em;
  }
  /* .nav-item a:hover{
      background-color: #146c43;
      padding: 10px;
      color: #fff;
  } */
  /* .mavss li{
    color: #fff;
  } */
 /* li a:hover{
      color: #fff;
  } */
  .carousel-caption{
position: absolute;
top: 30em;
  }
  .carousel-caption h5{
    font-size: 3em;
     text-shadow: 2px 2px 2px rgb(92, 91, 91);
  }
  .carousel-caption p{
    font-size: 2em;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
  }
  .carousel-caption a{
    background-color: #146c43;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    transition: .5s;
  }
  .carousel-caption a:hover{
color: #000000;
background-color: #fff;
  }
  .paragraph{
    margin-inline: auto;
  }
  .card-add-con{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .container-cont{
    width: 100%;
    position: relative;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.682), rgba(0, 0, 0, 0.682)), url('images/background.jpg');
  }
  .center{
    margin-inline: auto;
    padding: 10px;
  }
  .account,
  .address,
  .information{
    display: grid;
    position: relative;
  }
  .account a,
  .address a,
  .information a{
    color: #fff;
    text-decoration: none;
  }
  .bg{
    background-color: #111;
  }
  i{
    /* color: red;
    padding: 10px; */
    margin-right: 5px;
  }
  @media (max-width: 1111px) {
    .carousel-text{
      top: 23em;
    }
  }
  @media (max-width: 1024px) {
    .carousel-text{
      top: 21em;
    }
  }
  @media (max-width: 768px) {
    .carousel-text{
      top: 13em;
    }
    .carousel-text h5{
      font-size: 30px;
    }
  }
  @media (max-width: 425px) {
    .carousel-text{
      top: 6em;
    }
    .carousel-text h5{
      font-size: 18px;
    }
    .carousel-text p{
      font-size: 15px;
    }
    .carousel-text a{
      font-size: 12px;
    }
    .card-add-con .texts{
      font-size: 15px;
      /* background-color: red; */
    }
    .card-add-con{
      /* background-color: #146c43; */
      padding: 0;
      margin: 0;
    }
  }
@media (max-width: 375px) {
  .carousel-text{
    top: 6em;
  }
  .carousel-text h5{
    font-size: 18px;
  }
  .carousel-text p{
    font-size: 15px;
  }
  .carousel-text a{
    font-size: 12px;
  }
}