.search{
   display: flex;
   position: absolute;
   right: 0;
   margin: 10px;
  }
  #navs a{
      color: #fff;
      font-size: 1.6em;
  }
  .nav-item a:hover{
      background-color: #dc3545;
      padding: 10px;
      color: #fff;
  }
 li a:hover{
      color: #fff;
  }
  .carousel-caption{
position: absolute;
top: 30em;
  }
  .carousel-caption h5{
    font-size: 3em;
     text-shadow: 2px 2px 2px rgb(92, 91, 91);
  }
  .carousel-caption p{
    font-size: 2em;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
  }
  .carousel-caption a{
    background-color: #dc3545;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    transition: .5s;
  }
  .carousel-caption a:hover{
color: #000000;
background-color: #fff;
  }
  .paragraph{
    margin-inline: auto;
  }